body {
  background-color: #31AD2D;
  padding: 2%;
}

.jumbotron {
  text-align: center;
  background-color: #84E681;
  border: solid #1C6119;
}

.card {
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  border: solid #1C6119;
  background-color: #84E681 ;
}


.btn {
  border: solid 2px;
  background-color: #40E03A;
  text-decoration: bold;
}

.result {
  font-size: x-large;
}